#image{    
    display:flex;
    justify-content: center;
    align-items: center; 
}
#mainHed{
 display:flex;
 justify-content:center;
 align-items:center;    
 text-align: center;
 font-weight: bolder;
 font-size: 100px;
 padding-top: 20px;
 font-family: 'Fira Sans', sans-serif;

 color:#003366;
}
#image3{    
    display:flex;
    justify-content: center; 
    align-items: center;    
}
/* #image {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: auto auto;
} */
/*
#image img{
    border-radius: 60%;
    width: 15%;
    height: auto;
}
#image3 img{
    border-radius: 60%;
    width: 15%;
    height: auto;
}*/
body{
    background-color:#D6EAF8;
    /* background-image: url(images/MainPicture.png); */
    background-size: cover;    
}
.navbar-custom {
    background-color: #003366;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fff;}
.ourserHed{
    text-align: center;
    font-weight: bold;
    color: blue;
    padding-bottom: 5px;;
}
.py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#gg{
    border: solid black;
    background-color: #fff;
    background-blend-mode:luminosity;
    color: black; 
    padding: 1px;
    background-position: center;
}    
#ggk1{
    color: black;  
  }
#ggk2{
  color:black;  
}
#Sidehead_index{
    padding-top: 0px;
    color: darkred;
}
#Sidehead_index img{
    padding-left: 50px;
    width: 70%;
    height: auto;
}
.foot{
    color: white;
    font-weight: bolder;
}
#header1{
    font-size:30px;
    color: #33a3ff;
}
#ggk3{
    font-family: 'Orbitron', sans-serif; 
    color: #33a3ff;
    font-size:30px;
}
#ggk4{
    font-family: 'Orbitron', sans-serif; 
    color: #33a3ff;
    font-size:20px;
    font-weight: bold;
}
.ourserHed{
         color: #3374ff;
}
#ggk5{
    font-family: 'Orbitron', sans-serif; 
    color: #08080800;
    font-size:20px;
}